/frontend/node_modules
/frontend/app/node_modules
/backend/include
/backend/Lib
/backend/Scripts
/backend/pyvenv.cfg
/frontend/package-lock.json
/frontend/app/package-lock.json
/core
./*/node_modules
/node_modules
/vfk.zip
/frontend/vfkwebsite/package-lock.json
/frontend/vfkwebsite/package-lock.json
/frontend/vfkwebsite/node_modules
/template
/frontend
/vfk
/website/src/assets
/website/node_modules
/website/build
/website/public